{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About PMTC</h1>
            <span>Higher Education, Higher Purpose</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>our solid background on Montessori</span>
                    <h2>Get to know about <em>our college</em></h2>
                    <p>Partage Montessori Teachers College is at the frontier of academic and intellectual discovery. Those who venture here—to learn, research, teach, work, and grow—join nearly four centuries of students and scholars in the pursuit of truth, knowledge, and a better world. 
                    <br><br>As a practical training college and nonprofit institution, Partage Montessori Teachers College is focused on creating educational opportunities for people from many lived experiences.</p>
                    <a href="" class="filled-button">Learn about our history</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'assets/images/about.webp'%}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Meet our <em>Team</em></h2>
              <span>People committed to public purpose</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'assets/images/team_01.jpg'%}" alt="">
              <div class="down-content">
                <h4>Phillepe Krynen</h4>
                <span>Chancellor</span>
                <p>Phillepe Krynen is the 1st President of Partage Montessori Teachers College. He is one of the most experienced leaders in Africa
                   montessori education, known for his commitment to expanding student opportunity, advancing academic innovation, and encouraging
                    college’s civic engagement and service to society.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'assets/images/team_02.jpg'%}" alt="">
              <div class="down-content">
                <h4>Mrs. Jacqueline</h4>
                <span>Vice Chancellor</span>
                <p>Mrs. Jacqueline is the Vice President of Partage Montessori Teachers College. She is one among the most experienced leaders in Africa
                   montessori education, known for her commitment to expanding student opportunity, advancing academic innovation, and encouraging
                    college’s civic engagement and service to society.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="{% static 'assets/images/team_03.jpg'%}" alt="">
              <div class="down-content">
                <h4>Paul Walker</h4>
                <span>Principal</span>
                <p>Paul Walker is the 10th Principal of Partage Montessori Teachers College. He is one of the most experienced leaders in Africa
                   montessori education, known for his commitment to expanding student opportunity, advancing academic innovation, and encouraging
                    college’s civic engagement and service to society.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Partage Teachers College at a glance</span>
              <h2>Our college admission<em> statistics</em></h2>
              <p>More than 100 people applied for certificate-level study in 2021 and over 120 people applied for diploma-level study. PMTC usually has around 150 certificate places and about 200 diploma places each year.
              <br><br>PMTC is committed to recruiting the best candidates from all backgrounds and all identities. The College is committed to fostering an inclusive culture which promotes equality and values diversity. For more information about our access programmes and how to apply, please see our admission pages.</p>
              <a href="" class="filled-button">Admission</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1280</div>
                  <div class="count-title">Student Numbers</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">178</div>
                  <div class="count-title">Staff Numbers</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">300</div>
                  <div class="count-title">College Alumn</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Recognitions and <em>Affiliations</em></h2>
              <span>reviews from our greatest patners</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>AMI</h4>
                  <span>Association Montessori Internationale</span>
                  <p>"In the recent edition of MontessoriPublic (Fall 2021) David Ayer and Angeline Lillard gave details on the availability of rigorous studies showing reading/writing/language arts outcomes for students in Partage Montessori Teachers College versus other programs to provide 'evidence-based' interventions with students."</p>
                  <img src="{ % static 'assets/images/patner.svg'%}" alt="">
                </div>
                
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>MTAT</h4>
                  <span>Montessori Teaching Association of Tanzania</span>
                  <p>"A study conducted at Partage Montessori College in Bukoba, Kagera (with more rigorous implementation) also showed language arts gains for Montessori children. Results were particularly striking for lower income children as the so-called “achievement gap” was significantly reduced by the end of preschool."</p>
                  <img src="{% static 'assets/images/patner.svg'%}" alt="">
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>



  
{% endblock content %}