{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-1">
        <div class="img-fill">
            <div class="text-content">
              <h6>Become a Real Montessori Teacher</h6>
              <h4>A Two Year Course For Students<br>Interested in uttermost Teaching</h4>
              <p>With world-class montessori method, groundbreaking research opportunities, and a diverse group of talented teachers, PMTC is more than just a place to get an education.</p>
              <a href="contact.html" class="filled-button">contact us</a>
            </div>
        </div>
      </div>
 
      <!-- Item -->
     
    </div>
</div>
<!-- Banner Ends Here -->

<div class="request-form">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>Want to find out </h4>
        <span>Read a longer list of facts and figures here &#8594;</span>
      </div>
      <div class="col-md-4">
        <a href="facts.html" class="border-button">Read Now</a>
      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>News &amp; <em>Updates</em></h2>
          <span>Recent stories from around campus, published daily</span>
        </div>
      </div>
      {% for blog in blogs  %}
      <div class="col-md-4">
        
          <div class="service-item">
            <img src="{{blog.image.url}}" alt="">
            <div class="down-content">
              <h4>{{blog.title}}</h4>
              <span style="color: #dcf09a;">{{blog.date}}</span>
              <p>{{blog.description}}</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          
      </div>
      {% endfor %} 
      
    </div>
  </div>
</div>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Start <em>Exploring</em></h2>
          <span>At Partage Montessori, we are focused on creating a community where everyone can thrive</span>
        </div>
      </div>
      
       {% for explore in explores %}
       <div class="col-md-4">
        <div class="service-item">
          <img src="{{explore.image.url}}" alt="">
          <div class="down-content">
            <h4>{{explore.title}}</h4>
            <p>{{explore.descrption}}</p>
            <a href="" class="filled-button">{{explore.linkto}}</a>
          </div>
        </div>
      </div>
         
       {% endfor %}
      
  </div>
</div>

<div class="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-content">
          <span>Partage Teachers College at a glance</span>
          <h2>Our college admission<em> statistics</em></h2>
          <p>More than 100 people applied for certificate-level study in 2021 and over 120 people applied for diploma-level study. PMTC usually has around 150 certificate places and about 200 diploma places each year.
          <br><br>PMTC is committed to recruiting the best candidates from all backgrounds and all identities. The College is committed to fostering an inclusive culture which promotes equality and values diversity. For more information about our access programmes and how to apply, please see our admission pages.</p>
          <a href="" class="filled-button">Admission</a>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="row">
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">945</div>
              <div class="count-title">Work Hours</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">1280</div>
              <div class="count-title">Student Numbers</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">178</div>
              <div class="count-title">Staff Numbers</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">300</div>
              <div class="count-title">College Alumn</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="more-info-content">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img src="{% static 'assets/images/more-info.jpg'%}" alt="">
              </div>
            </div>
            <div class="col-md-6 align-self-center">
              <div class="right-content">
                <span>Save time with</span>
                <h2>A searchable resource <em>library</em></h2>
                <p>A collection of useful resource materials to demonstrate the value of the approach and build an understanding of Montessori education.<br><br>These materials may be adapted for your own views.</p>
                <a href="#" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Recognitions and <em>Affiliations</em></h2>
          <span>reviews from our greatest patners</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel" >
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>AMI</h4>
              <span>Association Montessori Internationale</span>
              <p>"In the recent edition of MontessoriPublic (Fall 2021) David Ayer and Angeline Lillard gave details on the availability of rigorous studies showing reading/writing/language arts outcomes for students in Partage Montessori Teachers College versus other programs to provide 'evidence-based' interventions with students."</p>
              <img src="{% static 'assets/images/patner.svg'%}" alt="">
            </div>
          </div>
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>MTAT</h4>
              <span>Montessori Teaching Association of Tanzania</span>
              <p>"A study conducted at Partage Montessori College in Bukoba, Kagera (with more rigorous implementation) also showed language arts gains for Montessori children. Results were particularly striking for lower income children as the so-called “achievement gap” was significantly reduced by the end of preschool."</p>
              <img src="{% static 'assets/images/patner.svg'%}" alt="">
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="callback-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Request a <em>call back</em></h2>
          <span>Connect with us now</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="contact-form">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                </fieldset>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                </fieldset>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <fieldset>
                  <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="border-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-partners owl-carousel">
        
          <div class="partner-item">
            <img src="{% static 'assets/images/patner.svg'%}" title="1" alt="">
          </div>
          
          <div class="partner-item">
            <img src="{% static 'assets/images/patner.svg'%}" title="2" alt="">
          </div>
          
          <div class="partner-item">
            <img src="{% static 'assets/images/patner.svg'%}" title="3" alt="">
          </div>
          
          <div class="partner-item">
            <img src="{% static 'assets/images/patner.svg'%}" title="4" alt="">
          </div>
          
          <div class="partner-item">
            <img src="{% static 'assets/images/patner.svg'%}" title="5" alt="">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endblock content %}